:root {
  /* Color */
  --primary-text-color-theme-light: #434455;
  --secondary-text-color-theme-light: #2e2f42;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #f4f4fd;
  --logo-color: #4d5ae5;
  --accent-color: #404bbf;
  --accent-color-footer: #31d0aa;
  --batton-background-theme-dark: #4d5ae5;
  --batton-background-accent: #404bbf;
  --customers-icon-color: #8e8f99;
  --color-for-input: rgba(46, 47, 66, 0.4);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}

.container {
  padding: 0 16px;

  @media screen and (min-width: 428px) {
    width: 428px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1158px) {
    width: 1158px;
    padding: 0 15px;
  }
}

/* ==================================COMPONENTS=============================== */

.secondary-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.photo-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}

.photo-description {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 8px;
}

@media screen and (max-width: 1158px) {
  .section {
    padding: 96px 0;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding-bottom: 120px;
  }

  .section:not(:nth-child(-2n + 3)) {
    padding-top: 120px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--batton-background-theme-dark);
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--batton-background-theme-dark);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);
}

.button:hover,
.button:focus {
  background-color: var(--batton-background-accent);
}
/* ==================================/COMPONENTS=============================== */

/* ==================================HEADER=============================== */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  display: block;
  padding: 24px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-theme-light {
  color: var(--secondary-text-color-theme-light);
}

.logo-theme-dark {
  color: var(--secondary-text-color-theme-dark);
}

.address,
.menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-menu-open {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: inherit;
    line-height: 0;
  }

  /* =========================MOBILE MENU========================= */

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-text-color-theme-dark);
    opacity: 0;
    visibility: hidden;
    pointer-events: auto;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    z-index: 2;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    background-color: rgba(231, 233, 252, 0.1);
    border: 1px solid rgba(46, 47, 66, 0.1);
    border-radius: 50%;
  }

  .mobile-menu-close-icon {
    fill: var(--secondary-text-color-theme-light);
  }

  .mobile-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--secondary-text-color-theme-light);
    transition: color 250ms var(--timing-function);
  }

  .mobile-navigation-link:hover,
  .mobile-navigation-link:focus {
    color: var(--accent-color);
  }

  .mobile-navigation-item + .mobile-navigation-item {
    margin-top: 40px;
  }

  .mobile-menu-address {
    margin-top: auto;
    margin-bottom: 48px;
  }

  .mobile-menu-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-text-color-theme-light);
    transition: color 250ms var(--timing-function);
  }

  .mobile-menu-mail {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--primary-text-color-theme-light);
    transition: color 250ms var(--timing-function);
  }

  .mobile-menu-address .link:hover,
  .mobile-menu-address .link:focus {
    color: var(--logo-color);
  }

  .mobile-menu-contact-item + .mobile-menu-contact-item {
    margin-top: 40px;
  }

  .mobile-menu .social-list {
    justify-content: flex-start;
    gap: 56px;
  }

  .mobile-menu .social-list-link:hover,
  .mobile-menu .social-list-link:focus {
    background-color: var(--accent-color);
  }

  /* =========================/MOBILE MENU========================= */
}

@media screen and (min-width: 768px) {
  .mobile-menu-open,
  .mobile-menu {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .address {
    display: block;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  .logotype {
    margin-right: 120px;
  }

  .menu-link {
    display: inline-block;
    font-weight: 500;
    color: var(--secondary-text-color-theme-light);
    padding: 24px 0;

    transition: color 250ms var(--timing-function);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .menu .current {
    position: relative;
    color: var(--accent-color);
  }

  .menu .current::after {
    position: absolute;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }

  .contacts {
    display: flex;
  }

  .contact-link {
    font-style: normal;
    font-weight: 400;
    color: var(--primary-text-color-theme-light);

    transition: color 250ms var(--timing-function);
  }

  .contact-link:hover,
  .contact-link:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
  .contacts {
    flex-direction: column;
    gap: 12px;
  }

  .contact-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .logotype {
    margin-right: 76px;
  }

  .contacts {
    gap: 40px;
  }
}

/* ==================================/HEADER=============================== */

/* ====================================HERO================================ */

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  color: var(--primary-text-color-theme-dark);
  margin-right: auto;
  margin-bottom: 72px;
  margin-left: auto;
  max-width: 320px;

  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }

  @media screen and (min-width: 1158px) {
    margin-bottom: 48px;
  }
}

.hero {
  background-color: var(--secondary-text-color-theme-light);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobile/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px;
  text-align: center;
  padding: 112px 0;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 768px),
    screen and (min-resolution: 192dpi) and (max-width: 768px),
    screen and (min-resolution: 2dppx) and (max-width: 768px) {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/mobile/hero-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/tablet/hero-tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/tablet/hero-tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1158px) {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/desktop/hero-desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/desktop/hero-desktop@2x.jpg);
    }
  }
}

/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* Modal window */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  width: 392px;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 408px;
    padding-right: 24px;
    padding-left: 24px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  border: none;
}

.close-icon {
  fill: currentColor;
  transition: fill 250ms var(--timing-function);
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: var(--primary-text-color-theme-dark);
}

/* Form */

.form-title {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 500;
  color: var(--secondary-text-color-theme-light);
}

.form {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--customers-icon-color);
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-label:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.form-input-wraper {
  position: relative;
}

.form-input {
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 33px;
  line-height: 1.5;
  border: 1px solid var(--color-for-input);
  border-radius: 4px;
  background-color: inherit;
  transition: border-color 250ms var(--timing-function);

  @media screen and (min-width: 1158px) {
    padding-left: 37px;
  }
}

.form-input:focus,
.form-messege:focus {
  outline: none;
  border-color: var(--batton-background-theme-dark);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--secondary-text-color-theme-light);
  transition: fill 250ms var(--timing-function);
}

.form-input:focus + .form-icon {
  fill: var(--batton-background-theme-dark);
}

.form-messege {
  resize: none;
  display: block;
  height: 120px;
  width: 100%;
  padding: 8px 16px;
  border: 1px solid var(--color-for-input);
  border-radius: 4px;
  background-color: inherit;
  transition: border-color 250ms var(--timing-function);
}

.form-messege::placeholder {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--color-for-input);
}

.form-label:nth-child(4) {
  margin-bottom: 16px;
}

.modal-form-check-desc {
  display: flex;
  margin-bottom: 24px;
}

.checkbox-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms var(--timing-function), border-color 250ms var(--timing-function);
}

.modal-form-check:checked + .checkbox-wraper {
  background-color: var(--accent-color);
}

.modal-form-check:focus + .checkbox-wraper {
  border-color: var(--batton-background-theme-dark);
}

.checkbox-icon {
  fill: var(--primary-text-color-theme-dark);
  opacity: 0;
  transition: opacity 250ms var(--timing-function);
}

.modal-form-check:checked + .checkbox-wraper .checkbox-icon {
  opacity: 1;
}

.checkbox-link {
  line-height: 1.33;
  color: var(--logo-color);
}

/* ====================================/HERO================================ */

/* ================================OUR ADVANTAGES============================ */

.advantage-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--secondary-text-color-theme-light);

  @media screen and (min-width: 768px) {
    text-align: initial;
  }

  @media screen and (min-width: 1158px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.advantage-text {
  font-weight: 500;

  @media screen and (min-width: 1158px) {
    font-weight: 400;
  }
}

.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
}

.advantages-list-item {
  &:not(:last-child) {
    @media screen and (max-width: 768px) {
      margin-bottom: 72px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 24px) / 2);
  }

  @media screen and (min-width: 1158px) {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.advantages-icon {
  display: none;

  @media screen and (min-width: 1158px) {
    display: flex;
    width: 264px;
    height: 112px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-text-color-theme-dark);
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

/* ================================/OUR ADVANTAGES============================ */

/* ===============================WHAT ARE WE DOING=========================== */

@media screen and (max-width: 1158px) {
  .services {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .services-list {
    display: flex;
    gap: 24px;
  }
}

/* ==============================/WHAT ARE WE DOING=========================== */

/* ====================================OUR TEAM=============================== */

.team {
  background-color: #f4f4fd;
}

.team-item {
  background-color: var(--primary-text-color-theme-dark);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;

  @media screen and (min-width: 768px) {
    row-gap: 64px;
    column-gap: 24px;
  }
}

.team .photo-title {
  margin-bottom: 8px;
}

.employees-card-content {
  padding: 32px 16px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.team .social-list {
  gap: 24px;
}

.team .social-list-link:hover,
.team .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  fill: var(--secondary-text-color-theme-dark);
}

/* ===================================/OUR TEAM=============================== */

/* ==================================CUSTOMERS=============================== */
.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;

  @media screen and (min-width: 768px) {
    column-gap: 24px;
  }
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  color: var(--customers-icon-color);
  border: 1px solid var(--customers-icon-color);
  border-radius: 4px;

  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 168px;
  }
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* ==================================/CUSTOMERS=============================== */

/* =====================================FOOTER================================ */

.page-footer {
  background-color: var(--secondary-text-color-theme-light);
  padding: 96px 0;

  @media screen and (min-width: 1158px) {
    padding: 100px 0;
  }
}

.page-footer .container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1158px) {
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;
    padding: 0 136px;
  }
}

.block-1 {
  text-align: center;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    text-align: initial;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 120px;
  }
}

.page-footer .logotype {
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}

.footer-text {
  color: var(--secondary-text-color-theme-dark);
  max-width: 264px;
  margin: 0 auto;
  text-align: initial;
}

.social-media-wraper {
  text-align: center;
  margin-bottom: 72px;

  @media screen and (min-width: 768px) {
    text-align: initial;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1158px) {
    margin-right: 80px;
  }
}

.footer-subtitle {
  font-weight: 500;
  color: var(--primary-text-color-theme-dark);
  margin-bottom: 16px;
}

.page-footer .social-list {
  gap: 16px;
}

.page-footer .social-list-link:hover,
.page-footer .social-list-link:focus {
  background-color: var(--accent-color-footer);
}

.footer-form {
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: initial;
  }
}

.footer-form-wraper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

.footer-form-label {
}

.footer-form-input {
  width: 100%;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 2;
  color: var(--primary-text-color-theme-dark);
  background-color: inherit;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border-color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 264px;
  }
}

.footer-form-input:focus {
  outline: none;
  border-color: var(--batton-background-theme-dark);
}

.footer-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-text-color-theme-dark);
}

.footer-button {
  display: flex;
  align-items: center;
  width: 165px;
  min-height: 40px;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 24px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--batton-background-theme-dark);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--batton-background-accent);
}

.footer-button-desc {
  margin-right: 16px;
}

.telegram-icon {
  fill: currentColor;
  flex-shrink: 0;
}

/* =====================================/FOOTER================================ */

/* =====================================FILTER================================ */

.filter {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item:not(:last-child) {
  margin-right: 24px;
}

.filter-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  background-color: var(--secondary-text-color-theme-dark);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function),
    border-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.filter .card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.filter .card-item {
  width: calc((100% - 48px) / 3);
}

.filter .card-item-link {
  display: block;

  transition: box-shadow 250ms var(--timing-function);
}

.filter .card-item-link:hover,
.filter .card-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter .card-content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.filter .photo-title {
  margin-bottom: 8px;
}

/* Overlay */

.filter-card-wraper {
  position: relative;
  overflow: hidden;
}

.filter-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  transition: transform 250ms var(--timing-function);
  overflow: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-dark);
  background-color: var(--logo-color);
  padding: 40px 32px;
}

.card-item-link:hover .filter-card-overlay,
.card-item-link:focus .filter-card-overlay {
  transform: translateY(0);
}

/* =====================================/FILTER================================ */
